---
title: A whoa moment with the F-statistic
---

"The hypothesis test is performed by computing the *F-statistic*,

$$ F = \frac{(TSS - RSS)/p}{(RSS)/(n-p-1)}$$

where, as with simple linear regression, TSS = $\Sigma(y_i - \bar{y_i})^2$ and RSS = $\Sigma(y_i - \hat{y_i})^2$. If the linear model assumptions are correct, one can show that:

$$ E\{RSS/(n-p-1)\} = \sigma^2 $$

and that, provided $H_0$ is true,

$$ E\{(TSS-RSS)/p\} = \sigma^2 $$

Therefore, when there's no relationship between the response and predictors, one would expect the F-statistic to take on a value close to 1."

I read the above passage in the section on multiple linear regression from the fantastic book [Introduction to Statistical Learning](https://link.springer.com/book/10.1007%2F978-1-4614-7138-7) and I thought to myself, "Wait, why is the F-statistic appearing here? I came across the F-statistic in the [Khan Academy lesson on ANOVA](https://www.khanacademy.org/math/statistics-probability/analysis-of-variance-anova-library)."

In a span of 5 seconds, my mind made zipped around to a few places including to a conversation I had with Insight fellows and re-thinking the F-statistic calculation statistic on ANOVA and then I had a [whoa moment](https://media.giphy.com/media/uPnKU86sFa2fm/giphy.gif): the F-statistic in multiple linear regression and in ANOVA are the exact same thing.

Let's investigate!

In [3]:
import pandas as pd
import numpy as np

We can use the `Credit` example that's used in the ISLR text.

In [5]:
file = '~/Documents/Data_science/Jupyter_notebooks/_mynotes_draft/analysis_and_machine_learning/ISLR_data/Credit.csv'
df_credit = pd.read_csv(file, index_col=0)
df_credit.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331