In [1]:
import pandas as pd
import sqlalchemy
import sqlalchemy_utils
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [3]:
# Define a database name
# Set your postgres username
dbname = "postgres"
username = "lacar"  # change this to your username

# Working with PostgreSQL in Python
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database=dbname, user=username)

# Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine("postgres://%s@localhost/%s" % (username, dbname))
print(engine.url)

postgres://lacar@localhost/postgres

In [14]:
sql_query = """
SELECT *
FROM edu2
LIMIT 5
"""
pd.read_sql_query(sql_query, con)

,index,CDSCode,NCESDist,NCESSchool,StatusType,County,District,School,Street,StreetAbr,...,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - All families - w/,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - Married couple fam,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - All people,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - Under 18 yrs,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - Under 18 yrs - Rel,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - 18 yrs and up,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - 18-64 yrs,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - 65 yrs and up,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - 65 yrs and up - Pe,pct; pct-AGE_FAMILIES_INCOME_BELOW_POVERTY - 65 yrs and up - Un
0,0,1.100170e+12,691051,10947,Active,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1515 Webster Street,1515 Webster St.,...,19.9,11.8,30.3,23.3,22.8,31.0,28.9,39.3,17.1,39.3
1,1,1.611190e+12,601770,41,Active,Alameda,Alameda Unified,Alameda High,2200 Central Avenue,2200 Central Ave.,...,10.3,5.7,11.4,12.1,11.2,11.2,11.6,9.1,8.8,19.8
2,2,1.611190e+12,601770,8674,Active,Alameda,Alameda Unified,Alternatives in Action,6221 East 17th Street,6221 East 17th St.,...,38.2,17.8,32.8,42.7,42.5,28.0,29.2,17.4,30.9,43.6
3,3,1.612590e+12,628050,10726,Active,Alameda,Oakland Unified,Lighthouse Community Charter High,444 Hegenberger Road,444 Hegenberger Rd.,...,38.2,17.8,32.8,42.7,42.5,28.0,29.2,17.4,30.9,43.6
4,4,1.611270e+12,601860,59,Active,Alameda,Albany City Unified,Albany High,603 Key Route Boulevard,603 Key Route Blvd.,...,10.8,5.5,11.4,11.1,10.6,11.5,12.3,6.2,8.5,25.3

In [13]:
sql_query = """
SELECT "%; %-AGE_FAMILIES_INCOME_BELOW_POVERTY - All families"
FROM edu
LIMIT 5
"""
pd.read_sql_query(sql_query, con)

DatabaseError: Execution failed on sql '
SELECT "%; %-AGE_FAMILIES_INCOME_BELOW_POVERTY - All families"
FROM edu
LIMIT 5
': column "%; %-AGE_FAMILIES_INCOME_BELOW_POVERTY - All families" does not exist
LINE 2: SELECT "%; %-AGE_FAMILIES_INCOME_BELOW_POVERTY - All familie...
               ^

In [ ]:
# https://www.reddit.com/r/Wellthatsucks/comments/gwmwmt/can_you_pick_out_the_one_who_robbed_you/